* {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(143, 180, 236, 0.959);
}

h1 {
  text-shadow: 2px 2px rgb(209, 206, 206);
  margin: 1em 0;
}

input {
  width: 300px;
  height: 35px;
  border-radius: 1em;
  background-color: black;
  text-align: left;
  padding-left: 5px;
  font-weight: 700;
  color: rgb(179, 190, 199);
}

.firstButton {
  width: 50px;
  height: 30px;
  border-radius: 1em;
  background-color: gray;
  font-weight: 700;
}

.divUl {
  display: flex;
  justify-content: center;
}

.ul {
  margin-top: 2em;
  width: 350px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5em;
}

.removeList {
  width: 20px;
  height: 20px;
  margin-right: 200px;
  color: green;
  border: none;
}

i {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -8px;
}

span {
  font-size: large;
  font-weight: 700;
}