* {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--body-background-color);
}

:root {
  --body-background-color:rgba(143, 180, 236, 0.959);
  --h1-text-shadow: 2px 2px rgb(209, 206, 206);
  --input-background-color: black;
  --input-color: rgb(221, 235, 238);
  --removeList-color: green;
  --firstButton-background-color: gray;
}

.darkMode:root {
  --body-background-color:rgba(8, 29, 61, 0.959);
  --h1-text-shadow: 2px 2px rgb(233, 30, 30);
  --input-background-color: rgb(170, 161, 161);
  --input-color: rgb(179, 190, 199);
  --removeList-color: rgb(204, 192, 27);
  --firstButton-background-color: rgb(177, 70, 136);
}

.dark {
  text-align: right;
  padding: 0;
}

.checkbox {
  margin: 0;
  width: 20px;
  height: 20px;
}

h1 {
  text-shadow: var(--h1-text-shadow);
  margin: 1em 0;
}

input {
  width: 290px;
  height: 35px;
  border-radius: 1em;
  background-color: var(--input-background-color);
  text-align: left;
  padding-left: 5px;
  font-weight: 700;
  color: var(--input-color);
  margin-bottom: 1em;
}

.firstButton {
  width: 50px;
  height: 30px;
  border-radius: 1em;
  background-color: var(--firstButton-background-color);
  font-weight: 700;
}

.divUl {
  display: flex;
  justify-content: center;
  border-bottom: rgb(137, 170, 182) 1px solid;
  border-top: rgb(137, 170, 182) 1px solid;
  /*justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  background: white url("direction") repeat-x;
  */
}

.ul {
  margin-top: 2em;
  width: 350px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5em;
}

.removeList {
  width: 20px;
  height: 20px;
  margin-right: 200px;
  color: var(--removeList-color);
  border-radius: 1em;
  overflow: hidden;
  border: none;
}

i {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -8px;
}

span {
  font-size: large;
  font-weight: 700;
}